body {
  background-color: #eee;
  padding: 0;
  margin: 0;
}

svg {
  width: 20px;
  height: 20px;
  fill: #444;
}

svg:hover {
  fill: black;
}

svg:active {
  width: 18px;
  height: 18px;
  margin: 1px;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 10px;
}

.upload-form, .uploaded-file {
  display: flex;
  padding: 5px 10px;
  background-color: white;
}

.upload-form {
  margin: 10px 0;
}

.uploaded-file {
  margin: 1px 0;
}

.upload-form .file, .uploaded-file .file {
  flex: 1;
  overflow: hidden;
}

.submitBtn {
  line-height: 1;
  position: relative;
}

.submitBtn .btn, .submitBtn .icon {
  position: absolute;
}

.submitBtn .btn {
  opacity: 0;
  z-index: 1;
  width: 24px;
  height: 24px;
  right: -2px;
  bottom: 1px;
}

.submitBtn .icon {
  z-index: 0;
  right: 0;
}

.submitBtn:hover .icon svg {
  fill: black;
}

.submitBtn:active .icon svg {
  width: 18px;
  height: 18px;
  margin: 1px;
}
